body
{
    background-color:#000000;
    color:#10ee10;
    font-family:monospace;
}

.page
{
    display:flex;
    flex-direction:row;
    //flex-wrap:wrap;
    padding:1em;
}

.left_box
{
    display:flex;
    flex-direction:column;
    background-color:#000f00;
    border-style:solid;
    border-color:#00ff00;
    margin:0.5em;
    padding:0.5em;
}

.side
{
    margin: 0 auto 0 auto;
    padding: 0.5em;
}
.side_title
{
    font-size:2em;
}
.side_quote
{
    text-align:center;
}
a:link.side_post { color:#10ee40; }
a:visited.side_post { color:#00dd10; }
a:hover.side_post { color:#40ee60; }
a:active.side_post { color:#ee20ee; }

.main
{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    padding:0.5em;
    margin:0.5em auto 0.5em 0.5em;
}
h2 a:link { color:#10ee40; }
h2 a:visited { color:#00dd10; }
h2 a:hover { color:#40ee60; }
h2 a:active { color:#ee20ee; }

.article
{
    //display:flex;
}

.gallery
{
    display:flex;
    flex-wrap:wrap;
    align-content:flex-start;
}
.gallery_frame
{
    display:flex;
    flex-direction:column;
    margin:2em;
}
.gallery_image
{
    display:flex;
    width:auto;
    height:15em;
}
.gallery_title
{
    display:flex;
    font-style:italic;
    margin:1em auto 1em auto;
}

